<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Modern Product List</title>
	<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">-->
	<!--	<link rel="stylesheet" href="/css/styleProduct.css">-->
	<!--<link rel="stylesheet" href="/css/StyleChatBot.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
	<section>


		<div class="container-fluid mt-5 p-4 mt-5">
			<!-- Search and Filter Section -->
			<div class="row mb-4">

				<!-- Input và Button Search nằm ở cuối bên trái -->
				<div class="row mb-4">
					<!-- Form tìm kiếm -->
					<div class="col-6 d-flex justify-content-start align-items-center">
						<p class="d-flex w-100">
							<input id="search-query" type="text" name="search" class="form-control me-2"
								placeholder="Search products..." style="flex: 1;">
							<button class="btn btn-primary" type="submit" style="flex: 0 0 20%;" id="search-btn"
								data-page="0">Search</button>
						</p>
					</div>

					<!-- Dropdown Sort -->
					<div class="col-6 d-flex justify-content-end align-items-center">
						<th:block th:if="${paramValue == '' && search == ''}">
							<select class="form-select" name="sort"
								onchange="location.href='/products?sort=' + this.value" style="max-width: 40%;">
								<option value="" selected>Sort by</option>
								<option value="price_asc" th:selected="${sort == 'price_asc'}">Price: Low to High
								</option>
								<option value="price_desc" th:selected="${sort == 'price_desc'}">Price: High to Low
								</option>
							</select>
						</th:block>

					</div>
				</div>

			</div>

			<!-- Product List Section -->
			<div class="row">
				<div class="col-md-2 mb-4">
					<select class="form-select" onchange="location.href='/products?category=' + this.value">
						<!-- Tùy chọn cho All Categories -->
						<option value="" th:selected="${paramValue == ''}" selected>All Categories</option>

						<!-- Tùy chọn cho các category -->
						<option th:each="c:${categories}" th:value="${c.name}" th:text="${c.name}"
							th:selected="${paramValue == c.name}">
							[[${c.name}]]
						</option>
					</select>
				</div>
				<div class="col-md-10 mb-4">

					<!--	load product-->
					<div class="row" id="product-list">

						<div class="col-md-3 mb-4" th:each="p:${listProducts}">
							<div class="card product-card">
								<div class="product-image-container">
									<img th:src="@{'/img/product_img/'+${p.image}}" class="card-img-top"
										alt="Product Image">
								</div>
								<div class="card-body text-center">
									<h5 class="card-title">[[${p.title}]]</h5>
									<p class="fs-6 fw-bold " style="min-height: 50px;">
										<span>$ [[${p.discountPrice}]]</span> <br>
										<th:block th:if="${p.discount >0}">
											<span class="text-decoration-line-through text-secondary">$
												[[${p.price}]]</span>
											<span class="fs-6 text-success">[[${p.discount}]]%
												off
											</span>
									</p>
									<a th:href="@{'/product/'+${p.id}}" class="btn btn-outline-primary">View
										Details</a>
								</div>
							</div>
						</div>
						</th:block>
					</div>
					<div class="row" id="search-results">
						<!-- Kết quả tìm kiếm sẽ được hiển thị tại đây -->
					</div>
					<button id="load-more" data-page="1" class="btn btn-primary text-center">Load More</button>

					<!--chatbot-->
					<div class="row mb-4">
						<div class="col-6 d-flex justify-content-start align-items-center">
						</div>
						<div class="col-6 d-flex justify-content-end align-items-center">
							<div class="wrapper">
								<div class="title">Simple Online Chatbot</div>
								<div class="form">
									<div class="bot-inbox inbox">
										<div class="icon">
											<i class="fas fa-user"></i>
										</div>
										<div class="msg-header">
											<p>Hello there, how can I help you?</p>
										</div>
									</div>
								</div>
								<div class="typing-field">
									<div class="input-data">
										<input id="data" name="value" type="text" placeholder="Type something here.."
											required>
										<button id="send-btn">Send</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script>
			$(document).ready(function () {
				$('#load-more').click(function () {
					var pageNo = $(this).data('page');
					var search = $('#search-query').val();
					var size = 10; // Số sản phẩm muốn load thêm mỗi lần
					$.ajax({
						url: '/products/load',
						type: 'GET',
						data: {
							search: search,
							pageNo: pageNo,
							size: size
						},
						success: function (products) {
							if (products.length > 0) {
								// Tăng số trang hiện tại
								$('#load-more').data('page', pageNo + 1);

								// Render sản phẩm mới
								products.forEach(function (product) {
									var image = "/img/product_img/" + product.image;
									var dataItem = `	<div class="col-md-3 mb-4">
											<div class="card product-card">
												<div class="product-image-container">
														<img src="`+ image + `" class="card-img-top" alt="Product Image">
															</div>
															<div class="card-body text-center">
																<h5 class="card-title">`+ product.title + `</h5>
																<p class="fs-6 fw-bold " style="min-height: 50px;">
																	<span>$ `+ product.discountPrice + `</span> <br>
																<span class="text-decoration-line-through text-secondary">$
																	`+ product.price + `</span>
																		<span class="fs-6 text-success">`+ product.discount + `%off
																				</span>	
																	</p>
																			<a href="/product/`+ product.id + `" class="btn btn-outline-primary">View
																			Details</a>
																	</div>
																	</div>
																	</div>`

									$('#product-list').append(dataItem);
									$('#search-query').val(search);
								});
							} else {
								// Nếu không còn sản phẩm nào, ẩn nút Load more
								$('#load-more').hide();
								$('#product-list').append(`<p class="fs-4 text-center mt-4 text-danger">Product not
															found</p>`)

							}
						},
						error: function () {
							alert('Error loading more products');
						}
					});
				});
				// function search
				$('#search-btn').click(function () {
					var search = $('#search-query').val();
					var pageNo = $(this).data('page');
					$.ajax({
						url: '/products/load',
						type: 'GET',
						data: {
							search: search,
							pageNo: pageNo
						},
						success: function (products) {
							$('#product-list').hide();
							$('#search-results').empty();
							if (products.length > 0) {
								// Tăng số trang hiện tại
								//$('#search-btn').data('page', pageNo + 1);
								products.forEach(function (product) {
									var image = "/img/product_img/" + product.image;
									var dataItem = `<div class="col-md-3 mb-4">
										<div class="card product-card">
											<div class="product-image-container">
												<img src="`+ image + `" class="card-img-top" alt="Product Image">
											</div>
											<div class="card-body text-center">
												<h5 class="card-title">`+ product.title + `</h5>
												<p class="fs-6 fw-bold " style="min-height: 50px;">
													<span>$ `+ product.discountPrice + `</span> <br>
														<span class="text-decoration-line-through text-secondary">$
															`+ product.price + `</span>
														<span class="fs-6 text-success">`+ product.discount + `%off
														</span>
												</p>
												<a href="/product/`+ product.id + `" class="btn btn-outline-primary">View
													Details</a>
											</div>
										</div>
									</div>`
									$('#search-results').append(dataItem);


								});
							} else {
								$('#search-results').append('<p>No products found.</p>');
							}
						},
						error: function () {
							alert('Error occurred while searching for products.');
						}
					});
				});

				let timer;
				// Sự kiện khi nhấn nút gửi tin nhắn
				$('#send-btn').click(function () {
					var value = $("#data").val();
					var message = `<div class="user-inbox inbox"><div class="msg-header"><p>` + value + `</p></div></div>`
					$(".form").append(message);
					$("#data").val('');

					clearTimeout(timer);
					$.ajax({
						url: '/api/chat/send',
						type: 'POST',
						data: {
							value: value
						},
						success: function (result) {
							var replay = `<div class="bot-inbox inbox"><div class="icon">
								<i class="fas fa-user"></i>
							</div>
							<div class="msg-header"><p>`+ result + `</p>
								</div>
							</div>`
							$(".form").append(replay);
					
							if (value.toLowerCase() !== 'bye') {
								startTimer();
							}


						}
					});


				});
				function startTimer() {
					// Hủy bộ đếm thời gian trước đó nếu có
					clearTimeout(timer);

					// Bắt đầu bộ đếm thời gian mới, sau 10 giây sẽ gửi tin nhắn hỏi thăm
					timer = setTimeout(function () {
						var askMessage = `<div class="bot-inbox inbox"><div class="icon">
											            <i class="fas fa-user"></i>
											        </div>
											        <div class="msg-header"><p>Are you still there? We are here to help!</p></div></div>`;

						$(".form").append(askMessage);  // Thêm tin nhắn hỏi thăm vào view
					}, 5000); // 10,000 ms = 10 giây
				}
				startTimer();
			});

		</script>
	</section>
</body>

</html>